/*CSS reset YUI2*/
html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "¸¼Àº °íµñ", "Malgun Gothic", "±¼¸²", "Gulim", Verdan, Arial, Tahoma;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}

/*Layout*/
#wrap {width:600px;
			margin:0 auto;
			background-color:#fff
}

#left{float:left;}

#left a{color:#888; text-align:center; margin:5px 30px;}
#right_top{margin:0 0 0 10px;}
#right_middle a{text-decoration:none;}

/*Basic */
table,td,tr{border:3px  solid pink;}

#header {
	width:100%; height:135px; background-color:#FFA700;
	border-bottom: 1px solid #999;

}
/*contents_class*/
span.gray{color:#888; margin:0 5px 0 0;}
span.red{color:#FF0000; margin:0 5px 0 0;}

#navbar {width:1000px; height:30px;background-color:#FFDC73;}
#navbar ul li{float:left;}
#navbar ul li a{
	color : #fff; background : #FFDC73;
	display:block;
	width:120px;
	text-align:center;
	padding:0px 10px;
	font:bold 12px/30px Tahoma;
	text-decoration: none;
	margin-right:5px;

}
#navbar ul li a.selected{background-color:#FFBF00;}
#navbar ul li a:hover{background-color: #BFB030;}